.astro-l-stack {
  width: 400px;
  height: 500px;
  overflow: hidden;
  &__body {
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .astro-chatbot {
      align-items: flex-end;
      margin: 0 40px 12px 0;
    }
    .astro-user {
      margin: 0 0 12px 40px;
    }
  }

  &__footer {
    .pf-c-input-group {
      height: 50px;
    }
    .pf-c-form-control:not(textarea) {
      height: 100%;
    }
  }

  .bubble {
    border-radius: 14px;
    padding: 10px 16px 10px 16px;
  }

  .typing {
    height: 17px;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }

  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color: var(--pf-global--palette--black-600); 
    }
    28% {
      transform: translateY(-7px);
      background-color: var(--pf-global--palette--black-400);
    }
    44% {
      transform: translateY(0px);
      background-color: var(--pf-global--palette--black-200);
    }
  }
  .pf-c-divider {
    --pf-c-divider--BackgroundColor: var(--pf-global--BackgroundColor--100);
    margin: 4px 0 4px 0;
  }
}
