.astro-l-stack {
  width: 400px;
  height: 500px;
  overflow: hidden;
  &__header {
  };
  &__body {
    background: #fff;
    overflow-y: scroll;
    .astro-chatbot {
      align-items: flex-end;
      margin-right: 40px;
      margin-bottom: 12px;
      .astro-chatbot-dialog {
        margin-right: 40px;
      }
    }
    .astro-user {
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: 12px;
      margin-left: 40px;
    }
    .astro-options {
      margin-right: 40px;
      margin-bottom: 12px;
    }
  };

  &__footer {
    .pf-c-input-group {
      height: 50px;
    }
    .pf-c-form-control:not(textarea) {
      height: 100%;
    }
  };
  .pf-c-label {
    margin:  4px; 
  }

  .bubble {
    position: relative;
    font-size: 14px;
    min-width: 140px;
    background: var(--pf-global--BackgroundColor--200);
    border-radius: 14px;
    padding: 10px 16px 10px 16px;
    color: #000;
  }

  .bubble-user {
    background: var(--pf-global--active-color--100);
    color: #fff;
  }

  .pf-c-divider {
    --pf-c-divider--BackgroundColor: #fff;;
    margin: 4px 0 4px 0;
  }

}
