.astro-c-button-badge {
  background: var(--pf-v5-global--palette--red-200);
  border-radius: 5px;
  height: 50px;
  margin-top: var(--pf-global--spacer--xl);
  padding: 6px;
  width: 50px;
  &:hover {
    background: var(--pf-v5-global--palette--red-300);
  }
}

.astro__badge {
  width: 100%;
}

.astro-l-stack {
  width: 350px;
  height: 550px;
  overflow: hidden;
  &__header {
    background: url(../../assets/header-background-01.svg) var(--pf-v5-global--palette--red-200);
    background-repeat: no-repeat;
    background-position: 75% 0%;
    .astro-c-button-minimize {
      font-size: 24px;
    }
  }
  &__body {
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .astro-chatbot {
      margin-right: 40px;
    }
    .astro-user {
      margin: 0 0 12px 40px;
    }
    .bubble {
      border-radius: 14px;
      padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md) var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
      max-width: 100%;
      word-wrap: break-word;
    }
    .bubble-user {
      border: 1px solid var(--pf-v5-global--BackgroundColor--dark-400);
    }
    .pf-c-label {
      --pf-c-label__content--before--BorderColor: var(--pf-v5-c-label--m-red__icon--Color);
    }
  }
  &__footer {
    .pf-c-input-group {
      height: 60px;
    }
    .pf-c-form-control {
      --pf-c-form-control--focus--BorderBottomColor: var(--pf-v5-global--palette--red-200);
      --pf-c-form-control--hover--BorderBottomColor: var(--pf-v5-global--palette--red-200);
      border-bottom-width: 1px;
      resize: none;
     }
    .pf-c-form-control:not(textarea) {
      height: 100%;
    }
    :focus-visible {
      outline: none;
      box-shadow: 0 -3px 0 var(--pf-v5-global--palette--red-200);
    }
    .pf-c-button {
      border-bottom: 2px solid var(--pf-v5-global--BackgroundColor--100);
      &:hover {
        border-bottom: 3px solid var(--pf-v5-global--palette--red-200);
      }
    }
  }
  .typing {
    height: 17px;
  }
  .typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
  }
  .typing .dot:nth-child(1) {
    animation-delay: 200ms;
  }
  .typing .dot:nth-child(2) {
    animation-delay: 300ms;
  }
  .typing .dot:nth-child(3) {
    animation-delay: 400ms;
  }
  .typing .dot:last-child {
    margin-right: 0;
  }

  @keyframes mercuryTypingAnimation {
    0% {
      transform: translateY(0px);
      background-color: var(--pf-v5-global--palette--black-600);
    }
    28% {
      transform: translateY(-7px);
      background-color: var(--pf-v5-global--palette--black-400);
    }
    44% {
      transform: translateY(0px);
      background-color: var(--pf-v5-global--palette--black-200);
    }
  }
  .pf-c-divider {
    --pf-c-divider--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    margin: 4px 0 4px 0;
  }
}

.astro-wrapper-stack {
  .astro-wrapper-stack__badge {
    align-self: end;
  }
}
