.pf-v5-c-card {
  &__header {
    .pf-v5-c-icon {
      margin-left: 8.5px;
      margin-top: 11px;
    }
  }
}

.pf-v5-c-card-full-screen {
  .pf-v5-c-card {
    height: calc(100vh - 220px);
    @media screen and (max-width: 768px) {
      width: 100vw;
    }
    @media screen and (min-width: 769px) {
      width: 75vw;
    }
    @media screen and (min-width: 992px) {
      width: 50vw;
    }
    @media screen and (min-width: 1200px) {
      width: 40vw;
    }
  }
}

.astro-wrapper-stack {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20000;
  height: unset;

  .astro-wrapper-stack__badge {
    align-self: end;
  }
}
