.astro-c-button-badge {
  background: var(--pf-v5-global--palette--red-200);
  border-radius: 5px;
  height: 50px;
  padding: 6px;
  width: 50px;
  &:hover {
    background: var(--pf-v5-global--palette--red-300);
  }
  .astro__badge {
    width: 100%;
  }
}

.astro-l-stack {
  width: 350px;
  height: 550px;
  @media screen and (max-width: 768px) {
    height: 420px;
    width: 100%;
  }
  overflow: hidden;
  &__header {
    background: url(../../assets/header-background-01.svg) var(--pf-v5-global--palette--red-200);
    background-repeat: no-repeat;
    background-position: 75% 0%;
    button {
      padding-left: 0;
      padding-right: 14px;
    }
  }
  &__body {
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .astro-chatbot {
      margin-right: 40px;

      .astro-option-disabled {
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
      }

    }
    .astro-user {
      margin: 0 0 12px 40px;
    }
    .bubble {
      border-radius: 14px;
      padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md) var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
      max-width: 100%;
      word-wrap: break-word;
    }
    .bubble-user {
      border: 1px solid var(--pf-v5-global--BackgroundColor--dark-400);
    }
    .pf-c-label {
      --pf-c-label__content--before--BorderColor: var(--pf-v5-c-label--m-red__icon--Color);
    }
    .system-message {
      .system-message-text {
        padding-bottom: var(--pf-global--spacer--md);
        text-align: center;
      }
    }
    .banner {
      &__chat-end {
        padding-top: 0;
        padding-bottom: var(--pf-global--spacer--md);
        .banner-alert {
          .pf-c-alert__title {
            margin-top: 0;
            font-size: var(--pf-global--FontSize--sm);
          }
        }
      }
    }
  }
  &__footer {
    .pf-c-input-group {
      height: 60px;
    }
    .pf-c-form-control {
      --pf-c-form-control--focus--BorderBottomColor: var(--pf-v5-global--palette--red-200);
      --pf-c-form-control--hover--BorderBottomColor: var(--pf-v5-global--palette--red-200);
      border-bottom-width: 1px;
      resize: none;
     }
    .pf-c-form-control:not(textarea) {
      height: 100%;
    }
    :focus-visible {
      outline: none;
      box-shadow: 0 -3px 0 var(--pf-v5-global--palette--red-200);
    }
    .pf-c-input-group__text {
      &:hover {
        box-shadow: 0 -3px 0 var(--pf-v5-global--palette--red-200);
        border-bottom: 1px solid var(--pf-v5-global--palette--red-200);
      }
    }
  }
  .pf-c-divider {
    --pf-c-divider--BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
    margin: 4px 0 4px 0;
  }
}

.astro-l-stack-full-screen {
  height: calc(100vh - 220px);
  @media screen and (max-width: 768px) {
    width: 100vw;
  }
  @media screen and (min-width: 769px) {
    width: 75vw;
  }
  @media screen and (min-width: 992px) {
    width: 50vw;
  }
  @media screen and (min-width: 1200px) {
    width: 40vw;
  }
}

.astro-wrapper-stack {
  .astro-wrapper-stack__badge {
    align-self: end;
  }
}
